.layout_container__2t4v2 {
  background-color: #282a36;
}

.container {
  max-width: 46rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  background-color: #44475a;
  padding: 50px 40px;
  border-radius: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}
