.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingMd h3 {
  color: #50fa7b;
}

.headingMd h2,
.headingMdTecs h2 {
  font-size: 1.5rem;
  will-change: transform;
  transition: transform 450ms;
}

.headingMd h2:hover,
.headingMdTecs h2:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
}

.headingMdTecs p {
  color: #ff79c6;
}

.headingMdM {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.headingMdM p {
  color: #50fa7b;
}

.headingMd {
  color: #8be9fd;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.animation {
  display: flex;
  align-items: center;
}

.animationBox {
  display: grid;
}

.animationBox a {
  color: #ffb86c;
  text-decoration: none;
  margin: 5px 30px;
}

.animationBox p {
  color: #50fa7b;
  font-weight: 800;
  text-decoration: none;
  margin: 5px 30px;
}
